*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Kanit", serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://scontent.fbkk2-8.fna.fbcdn.net/v/t39.30808-6/463754193_8629997577061593_4888424700744250266_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0b6b33&_nc_eui2=AeGg27p_2bDum76AuUlzGCalSgUnEu9RQUBKBScS71FBQEqKvR9dxtX-j1NZdd85CTBq-0KmAzhkokJ7wkmvZjBd&_nc_ohc=aC2bxv_oXB4Q7kNvgEXZQ4Z&_nc_zt=23&_nc_ht=scontent.fbkk2-8.fna&_nc_gid=ACdXgbC1qE7KxE0e3J1WLOf&oh=00_AYCHA-le48Yvot4fIpo4o3dTLMqdue0z2MlUbuPERptvag&oe=6758D66D);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
}

.container{
    max-width: 2500px;
    display: flex;
    flex-direction: column;
}

/* NAV */

nav{
    z-index: 10;
    background-color: #250915;
    color: white;
    display: flex;
    position: fixed;
    box-shadow: 0 3px 0px white;
    width: 100%;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    font-size: 30px;
}

nav img{
    width: 40px;
    margin-right: 10px;
}

nav li{
    list-style: none;
}

nav a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    text-shadow: 3px 1px 1px #9a9e9b;
    transition: all ease .3s;
}

nav a:hover{
    scale: 1.5;
    text-shadow: 1px 1px 10px white;
}

/* Header */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header video{
    border-radius: 50px;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.h1-con{
    position: relative;
    width: 100%;
    text-shadow: 0 0 10px black;
    text-align: center;
    top: -200px;
    color: white;
}

.h1-con h1{
    font-size: 100px;
}

.h1-con p{
    font-size: 50px;
}


/* sect */

.sect{
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sect img{
    align-self: center;
    width: 800px;
    height: 600px;
    object-fit: cover;
    object-position: 100% 10%;
    transition: all ease .5s;
    border-radius: 50px;
}

.sect p{
    text-align: center;
    align-self: center;
    font-size: 35px;
    padding: 1rem;
    border-radius: 50px;
}

.black{
    text-shadow: 0 0 10px ghostwhite;
    background-color: #250915;
    color: white;
}

.white{
    background-color: white;
    color: #250915;
}

.left:hover{
    box-shadow: -30px 30px 1px #250915;
}

.right:hover{
    box-shadow: 30px 30px 1px white;
}

/* Footer */

footer{
    padding: 1rem;
    font-size: 30px;
    width: 100%;
    text-align: center;
    background-color: white;
}

/* ************
***RESPONSIVE***
*************** */

@media screen and (max-width: 1400px) {
    .sect img{
        width: 600px;
        height: 400px;
    }

    .sect p{
        font-size: 25px;
    }

    header video{
        width: 100%;
        height: 700px;
    }
    
    .h1-con{
        top: -280px;
    }
    
    .h1-con h1{
        font-size: 100px;
    }
    
    .h1-con p{
        font-size: 50px;
    }
    footer{
        font-size: 30px;
    }
}

@media screen and (max-width: 1300px) {

    header video{
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: 100% 100%;
    }
}
@media screen and (max-width: 1280px) {

    header video{
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: 100% 100%;
    }
    .h1-con{
        top: -180px;
    }


}

@media screen and (max-width: 1100px) {
    .sect img{
        width: 500px;
        height: 300px;
    }

    .sect p{
        font-size: 25px;
    }

    header video{
        width: 100%;
        height: 600px;
    }
    
    nav ul{
        font-size: 30px;
    }

    footer{
        font-size: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .sect img{
        width: 500px;
        height: 300px;
    }

    .sect p{
        font-size: 25px;
    }

    header video{
        width: 100%;
        height: 500px;
    }

    .h1-con{
        top: -40px;
    }
    
    .h1-con h1{
        font-size: 90px;
    }

    .sect img{
        width: 400px;
        height: 500px;
    }
}

@media screen and (max-width: 800px) {
    .sect img{
        width: 500px;
        height: 300px;
    }

    .sect p{
        font-size: 25px;
    }

    header video{
        width: 100%;
        height: 500px;
    }

    .h1-con{
        top: -40px;
    }
    
    .h1-con h1{
        font-size: 70px;
    }

    .sect p {
        font-size: 16px;
    }

    .sect img{
        width: 300px;
        height: 400px;
    }
}

@media screen and (max-width: 700px) {
    .sect p{
        font-size: 25px;
    }

    header video{
        width: 100%;
        height: 500px;
    }

    .h1-con{
        top: -40px;
    }
    
    .h1-con h1{
        font-size: 60px;
    }
    .h1-con p{
        font-size: 30px;
    }

    .sect p {
        font-size: 13px;
    }

    .sect img{
        width: 300px;
        height: 400px;
    }

    footer{
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {
    .sect p{
        font-size: 25px;
    }

    header video{
        width: 100%;
        height: 400px;
        object-fit: unset;
    }

    .h1-con{
        top: -40px;
    }
    
    .h1-con h1{
        font-size: 40px;
    }
    .h1-con p{
        font-size: 30px;
    }

    .sect {
        grid-template-columns: 1fr;
    }

    .sect p {
        font-size: 13px;
    }

    .sect img{
        justify-self: center;
        width: 400px;
        height: 400px;
    }

    footer{
        font-size: 15px;
    }

    .left:hover{
        box-shadow: none;
    }
    
    .right:hover{
        box-shadow: none;
    }
}

@media screen and (max-width: 400px) {
    nav ul{
        font-size: 20px;
    }
    nav ul img{
        width: 20px;
    }

    .sect p{
        font-size: 25px;
    }

    header video{
        width: 100%;
        height: 400px;
        object-fit: unset;
    }

    .h1-con{
        top: -40px;
    }
    
    .h1-con h1{
        font-size: 30px;
    }
    .h1-con p{
        font-size: 20px;
    }

    .sect p {
        font-size: 10px;
    }

    .sect img{
        justify-self: center;
        width: 300px;
        height: 300px;
    }

    footer{
        font-size: 10px;
    }
}